[data-theme="light"] {
  --colour-background: hsl(0, 0%, 100%);
  --colour-menu: hsl(0, 0%, 90%);
  --colour-menu-item: hsl(0, 0%, 100%);
  --colour-menu-item-selected: hsl(0, 0%, 80%);

  --colour-text: hsl(0, 0%, 0%);
  --colour-link: hsl(0, 100%, 50%);
  --colour-border: var(--colour-text);
  --colour-menu-border: hsl(0, 0%, 70%);

  background-color: var(--colour-background);
  color: var(--colour-text);
  color-scheme: light;
}
