[data-theme='light'] {
  --hue-ui: 15;

  --colour-background: hsl(0 5% 97%);
  --colour-header: hsl(var(--hue-ui) 75% 50%);
  --colour-tab: hsl(var(--hue-ui) 75% 25%);

  --colour-text: hsl(0 0% 0%);
  --colour-text-light: hsl(0 0% 100%);
  --colour-link: hsl(var(--hue-ui) 100% 40%);

  color-scheme: light;
}
