html {
  display: flex;
  height: 100%;
}

body,
#root {
  display: flex;
  flex: auto;
}

hr {
  height: 1px;
  margin: 32px;
  background-color: var(--colour-text-faded);
  border: none;
}

.content-wide {
  max-width: 80rem;
}

.content-narrow {
  max-width: 40rem;
}

.gh-avatar {
  height: 1lh;
  vertical-align: bottom;
  border: 1px solid var(--colour-text);
  border-radius: var(--border-radius1);
}

.text-icon {
  width: fit-content;
  height: 1lh;
  vertical-align: bottom;
}

.center {
  margin-inline: auto;
}
