:root {
  --colour-background: light-dark(#eee, #222);
  --colour-text: light-dark(#222, #eee);

  --shadow-button: 0 var(--padding0) var(--padding0) hsl(0 0% 0% / 0.2);

  --padding0: 0.125rem;
  --padding1: 0.25rem;
  --padding2: 0.5rem;
  --padding3: 1rem;
  --padding4: 2rem;

  --border-radius0: 0.125rem;
  --border-radius1: 0.25rem;
  --border-radius2: 0.5rem;
  --border-radius3: 1rem;

  --font-size0: 0.6rem;
  --font-size1: 0.8rem;
  --font-size2: 1rem;
  --font-size3: 1.25rem;
  --font-size4: 1.5rem;

  --font-sans: Verdana, Geneva, Tahoma, sans-serif;

  color: var(--colour-text);
  font-family: var(--font-sans);
  line-height: 1.2;
  background-color: var(--colour-background);
  color-scheme: light dark;
}

a,
:where(a:visited) {
  color: var(--colour-link-text);
}
