.colouredLink {
  --colour-gradient-top: var(--colour-text);
  --colour-gradient-bottom: var(--colour-text);

  color: transparent;
  font-weight: bold;
  text-decoration-color: var(--colour-gradient-bottom);
  background-image: linear-gradient(
    180deg,
    var(--colour-gradient-top) 30%,
    var(--colour-gradient-bottom)
  );
  background-clip: text;
}

/* TODO: Make brighter colours easier to see in light theme */

.rhythmHeavenGroove {
  --colour-gradient-top: hsl(300 100% 50%);
  --colour-gradient-bottom: hsl(180 90% 45%);
}

.pokemonViolet {
  --colour-gradient-top: hsl(330 70% 50%);
  --colour-gradient-bottom: hsl(280 100% 50%);
}

.slayTheSpire2 {
  --colour-gradient-top: hsl(90 60% 50%);
  --colour-gradient-bottom: hsl(90 15% 40%);
}

.silksong {
  --colour-gradient-top: hsl(0 100% 50%);
  --colour-gradient-bottom: hsl(30 100% 60%);
}

.pokemonLegendsZA {
  --colour-gradient-top: hsl(150 100% 20%);
  --colour-gradient-bottom: hsl(150 100% 40%);
}
