.app {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 15rem 1fr;
  grid-template-areas: "sidebar content";
  flex: auto;
  overflow: auto;
}

.sidebar {
  display: flex;
  grid-area: sidebar;
  flex-direction: column;
  z-index: 1;
  border-right: 1px solid var(--colour-menu-border);
  background-color: var(--colour-menu);
  padding: 0.5rem;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
}

.link {
  display: grid;
  grid-template-columns: 1.25rem 1fr;
  align-items: center;
  gap: 0.5rem;
}

.linkIcon {
  width: 1.25rem;
  height: 1.25rem;
}

.themeSettings {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin-top: auto;
}

.themeOption {
  flex: 1;
  cursor: pointer;
  border: 1px solid var(--colour-menu-border);
  background-color: var(--colour-menu-item);
  padding: 0.25rem 0;
  text-align: center;
}
.themeOption:has(input:checked) {
  background-color: var(--colour-menu-item-selected);
}

.themeOption input {
  display: none;
}

.contentWrapper {
  display: flex;
  grid-area: content;
  justify-content: center;
  min-width: fit-content;
  overflow: auto;
}

.content {
  display: block;
  padding: 2.5rem 1rem;
  width: 100%;
  min-width: 20rem;
  max-width: 70rem;
  height: fit-content;
  overflow-wrap: break-word;
}
