@import "tailwindcss";

@theme {
  --color-app-bg: var(--color-white);
  --color-header-bg: var(--color-orange-500);
  --color-tab-bg: var(--color-orange-800);

  --color-app-text: var(--color-black);
  --color-tab-text: var(--color-white);
}

html,
body,
#root {
  height: 100%;
}
