@import "tailwindcss";

@theme {
  --color-app: var(--color-zinc-800);
  --color-text: var(--color-white);
  --color-subtle: var(--color-zinc-400);

  --color-header: var(--color-emerald-500);

  --color-link: var(--color-blue-400);

  --font-sans: Roboto, sans-serif;
}

@layer base {
  a {
    @apply text-link underline;
  }

  h2,
  p {
    @apply my-4;
  }

  h2 {
    @apply text-3xl font-bold;
  }

  th,
  td {
    @apply border px-1;
  }
}
